.app {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.app_top h1 {
  color: white;
  text-align: center;
}

.app_logo {
  height: 12vh;
}

.app_videos {
  position: relative;
  height: 75vh;
  background-color: white;
  width: 70%;
  max-width: 350px;
  max-height: 1200px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar {
  display: none;
}
